@media only screen and (max-width: 1023px) {
    .header-bottom ul.menu {
        display: none;
    }
    .city .select2-container {
        float: none;
    }
       .cmn-toggle-switch {
        display: inline-block;
        float: left;
       }
     .menu-mob-btn {
    width: 85px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(235, 235, 235, 0.3);
    border-radius: 6px;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    float: left;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    }
    .menu-mob-btn:hover {
        background-color: rgba(44, 46, 46, 1);
    }
    .menu-mob-btn img {
        vertical-align: middle;
        margin-left: 5px;
    }
    .menu-mob-btn span {
            text-transform: uppercase;
        opacity: 1;
        font-size: 16px;
            }
    .menu-mob {
        background-color: rgba(235, 235, 235, 1);
        width: 33%;
        border-radius: 6px;
        display: none;
        position: absolute;
        top: 40px;
        z-index: 999;
    }
    .menu-mob li {
        text-decoration: none;
        display: block;
        border-bottom: 2px solid #cbcbcb;
        text-align: left;
        -webkit-transition: all .5s ease;
    transition: all .5s ease;
    }
    .menu-mob li:hover {
        background-color: rgba(44, 46, 46, 0.6);
    }
    .menu-mob li:last-child {
        -webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom: none;
    }
    .menu-mob li:first-child {
        -webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
    }
    .menu-mob li a {
        font-size: 16px;
        color: #383939;
        padding: 10px 20px;
        display: block;
        text-decoration: none;
    }
    .menu-mob li a:hover {
        color: #fff;
    }
	
.restaurant-photo2 {
    margin-right: 0px;
}
    span.bar {
        display: block;
    width: 40px;
    height: 3px;
    background-color: #fff;
    border-radius: 1px;
       margin: 8px auto -1px auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset -2px 11px 7px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -2px 11px 7px -14px rgba(0,0,0,0.75);
    box-shadow: inset -2px 11px 7px -14px rgba(0,0,0,0.75);
    }
    .header-bottom form {
    width: 23%;
    }
    .header-main {
    padding-top: 5px;
}
    .logo {
        display: none;
    }
    .header-bottom {
        margin-top: 147px;
    }
    .logo-mob {
width: 350px;
    display: block;
    margin: 0 auto;
    padding-top: 130px;    }
    .concerts {
        text-align: center;
    }
    .concert-block {
        width: 320px;
    }
    .concert-block {
        margin-right: 30px;
    }
    .concert-block:nth-child(2) {
        margin-right: 0;
            margin-bottom: 30px;
    }
    .concert-title {
        display: block;
        float: none;
        margin-top: 10px;
    }
    .party-name {
        padding-top: 0;
    }
    .concert-location {
        display: inline-block;
    }
    .concert-location:before {
        left: -3%;
    }
    .restaurant-block1 {
    width: 624px;
    display: block;
    margin: 30px auto;
    text-align: left;
}
.restaurant-photo1 img {
    width: 100%;
}
.restaurant-block2 {
    width: 370px;
    margin: 0;
    text-align: left;
}
.restaurant-block3 {
    width: 213px;
    margin-left: 36px;
    display: inline-block;
    text-align: left;
    float: none;
}
.fll {
    margin-right: 36px;
        margin-left: 0;
}
.flr {
    float: none;
}
.restaurant-wrapper:after {
    content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.restaurant-photo2, .restaurant-photo3 {
    width: 300px;
}
.restaurant-photo2 img, .restaurant-photo3 img {
    width: 100%;
}
.restaurant-wrapper {
    text-align: center;
}
.caption1, .caption2 {
    font-size: 13px;
}
.party {
    text-align: center;
}
.party li {
    margin: 30px auto;
    width: auto;
    background: transparent;
}
.restaurant-block4 {
    margin: 0;
    width: 286px;
    text-align: left;
}
.restaurant-block5 {
        margin: 0;
    width: 288px;
    text-align: left;
}
.mb {
    margin-bottom: 15px;
}
.restaurant-block5 {
    margin-left: 45px;
}
.restaurant-photo1 {
    text-align: left;

}
.action {
    text-align: center;
}
.action li {
    margin: 15px 0;
    width: 347px;

}
.action li:last-child {
     margin: 15px 0;
}
/*.action li:last-child {
    margin-left: 5%;
}
.action li:nth-child(2) {
    margin-left: 5%;
}*/
.footer_about {
    width: 30%;
    margin-right: 7.5%;
}
.footer_contact {
    width: 30%;
    margin-right: 5%;
}
.footer_social {
    width: 25%;
}
.footer_social_mob {
    display: none;
}
.city .select2-container {
  /*      width: 16.5% !important;*/
}
.poster_left {
    display: block;
    width: 100%;
}
.poster_desc {
    width: 58%;
}
.map {
    width: 100%;
}
.posters .concerts {
    display: none;
}
.eventCalendar-wrap {
	margin:0 auto;
}
.coupon .poster_left {
    display: block;
    width: 100%;
}
.coupon .action {
    display: none;
}
.coupon .poster_buy {
    display: block;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    width: 560px;
}
.coupon .poster_desc {
    display: block;
    width: 100%;
    padding-top: 25px;
}
.one_news .party {
    display: none;
}
.one_news .poster_left {
    display: block;
    width: 100%;
}
.one_news-photo {
    display: block;
    margin: 20px auto;
}
.one_news .poster_left h1 {
    padding-top: 20px;
}
.coupons_menu {
    display: none;
}
.coupons .cmn-toggle-switch {
    display: block;
    float: none;
}
.photo_catalog {
    text-align: center;
}
.photo_right {
    display: block;
    margin: 25px auto;
    float: none;
    width: 80%;
}
.header-bottom form input[type="search"] {
    width: 53px;
    float: right;
    border-radius: 6px;
        -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
        -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;

}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
.header-bottom form input[type="search"]:focus {
    width: 181px; /* Ширина при наличии фокуса ввода */
    background-color: rgba(235, 235, 235, 0.3);
    color: #fff;
    background-position: 165px 12px;
    padding-left: 10px;
}
.header-bottom form input[type="text"] {
    display: none;
}
.city {
    margin-left: 15%;
}
.fix-btn {
    display: none;
}
.contact .poster_left {
    width: 100%;
}
.contact_form {
    display: block;
    vertical-align: top;
float:none;
    width: 50%;
    margin: 0 auto;
}
.header-bottom {
    margin-top: 112px;
}
.header-main {
    padding-top: 62px;
}
.logo-mob p {
    display: none;
}
.poster_photo_catalog li {
    width: 310px;
    margin: 0px 15px 15px 20px;
}
.poster_photo_catalog li:last-child {
    margin: 0px 15px 15px 20px;
}
.poster_photo_catalog {
    text-align: center;
}
.user-form {
    margin: 0 auto 40px;
    width: 650px;
}
.user-title {
    display: block;
    text-align: center;
    padding: 30px 0;
}
.event .poster_left {
    width: 80%;
    display: block;
    margin: 0 auto;
}
.event_desc {
        width: 80%;
    display: block;
    margin: 20px auto;
    float: none;
}
.partners .poster_left {
    width: 95%;
    display: block;
    margin: 30px auto;
}
}
@media screen and (max-width: 767px) {
.logo {
    display: none;
}

    .logo p {
        display: none;
    }
    .logo-mob {
width: 235px;
    display: block;
    margin: 0 auto;
    padding-top: 168px;
}
.logo-mob p {
    display: none;
}
.menu-mob-btn {
    float: left;
}
.menu-mob {
    width: 200px;
}
.city .select2-container {
        width: 106px !important;
    height: 40px;
    line-height: 40px;
    display: inline-block;
     float: right;
     font-size: 21px;
     padding-left: 8px;
}
.header-bottom form {
    display: none;
}
.banner {
    display: none;
}
.header-main .wrapper{
    padding: 0;
}
.concert-block {
    width: 370px;
    margin: 30px auto;
    display: block;
}
.concert-block img {
    width: 100%;
}
.concert-block:nth-child(2), .concert-block:last-child {
    margin: 30px auto;
}
.restaurant-block2 {
    width: auto;
    margin: 20px auto;
}
.restaurant-block1 {
    width: 370px;
    margin: 20px auto;
}
.restaurant-block3 {
    margin: 15px auto;
    width: 370px;
}
.restaurant-photo2, .restaurant-photo3 {
    width: 160px;
}
.restaurant-block2 {
    width: 370px;
    margin: 0 auto;
    text-align: left;
    display: block;
}
.caption1, .caption2 {
    font-size: 12px;
}
.restaurant-block4, .restaurant-block5 {
    margin: 20px auto;
    width: auto;
    text-align: left;
}
.action li, .action li:last-child {
    margin: 15px auto;
    width: 370px;
    display: block;
}
.action li img {
    width: 100%;
}
.footer_social_mob {
    width: 60%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.footer_social_mob-title {
    font-family: 'OpenSans-Bold';
    font-size: 15px;
    color: #f6f6f6;
    text-transform: uppercase;
    padding-bottom: 22px;
}
.footer_social_mob li {
    display: inline-block;
    vertical-align: top;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: #9e9e9e;
    margin-right: 10px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.footer_social_mob li:hover {
    background-color: rgba(9, 202, 202, 0.8);
}
.footer_social_mob li:last-child {
    margin-right: 0;
}
.footer_social_mob a {
    display: block;
}
.footer_social_mob img {
    display: block;
    margin: 10px auto;
}
.footer_social {
    display: none;
}
.footer_about, .footer_contact {
    width: 80%;
    display: block;
    margin: 40px auto;
}
.footer_contact {
    text-align: center;
}
.footer_about-title, .footer_contact-title {
    text-align: center;
}
.city .select2-container--default .select2-selection--single .select2-selection__rendered {
	font-size:17px;
}
.restaurant-photo3 {
	float:none;
    margin-left: 46px;
}
table.table td {
    font-size: 13px;
        font-family: 'OpenSans-Regular';
}
table.table th {
    font-size: 11px;
}
table.table th:last-child, table.table td:last-child {
    display: none;
}
.basket-wrapper .wrapper {
    padding: 55px 0 0 0;
}
.posters {
    padding-top: 50px;
}
.poster_buy {
    display: block;
    text-align: center;
    padding-top: 20px;
}
.poster_buy-btn span {
    width: 100px;
}
.poster_buy-btn {
    width: 200px;
}
.poster_desc {
    display: block;
    width: 100%;
    padding-top: 25px;
}
.poster_desc h1 {
    line-height: 1.5;
    font-size: 22px;
}
.coupon .poster_buy-btn {
    display: block;
    float: none;
    margin: 15px 0;
}
.coupon .poster_buy {
    width: 380px;
}
.one_news .coupon-data {
    float: none;
    display: block;
}
.coupons {
    padding-top: 30px;
}
.photo_right, .photo_catalog li {
    display: block;
    width: 90%;
    margin: 25px auto;
    float: none;
}
.photo_catalog li img {
    width: 100%;
}
.photo_catalog li:last-child {
    margin: 25px auto;
}
.photo_ {
    padding-top: 25px;
}
.eventCalendar-showAsWeek li {
	font-size:14px !important;
}
.eventCalendar-daysList.eventCalendar-showAsWeek li, .eventCalendar-showAsWeek .eventCalendar-day a {
					line-height:40px !important;
				height:40px !important;
}
.contact_form {

    width: 95%;

}
.contact-catalog, .contact-catalog1 {
float:none;
    width: 100%;
    margin-left: 50px;
}
.contact {
	padding-top:25px;
}
.contact-catalog p, .contact-catalog1 p {
	    width: 65%;
    margin-left: -20px;
}
.entry-form {
    width: 300px;
}
.entry-form form {
    width: 100%;
}
.entry-form form input[type="text"] {
    width: 155px;
}
.payment {
    text-align: center;
}
.poster_photo_catalog li, .poster_photo_catalog li:last-child {
    width: 300px;
    margin: 30px 25px;
} 
.poster_photo_catalog {
    text-align: center;
}
.user-form {
    width: 95%;
}
.user-form ul label {
    display: block;
}
.user-form input[type="text"] {
    width: 90%;
    float: none;
}
.event .poster_left {
    margin-top: 30px;
}
.template_text {
    padding-top: 30px;
}
.restaurants-container {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}
}
@media screen and (max-width: 480px) {
    .concert-block, .restaurant-block1, .restaurant-block2, .restaurant-block3, .party li, .restaurant-block4, .restaurant-block5, .action li, .action li:last-child {
        width: 265px;
    }
    .restaurant-photo2, .restaurant-photo3 {
    width: 265px;
    display: block;
    margin: 20px auto;
}
.summ, .buy {
    display: block;
    margin: 20px auto;
    float: none;
}
.summ {
    width: 150px;
}
.coupon .poster_buy {
    width: 270px;
} 
.coupon-mini li {
    width: 57px;
}
.payment li, .payment li:last-child {
    display: block;
    width: 300px;
    margin: 30px auto;
}
.poster_photo_catalog li, .poster_photo_catalog li:last-child {
    width: 300px;
    margin: 20px auto;
    display: block;
}
.contact .table td:first-child, .contact .table th:first-child {
    padding-left: 5px;
}
.coupon-photo {
    width: 70px;
}
.event_desc, .event .poster_left {
    width: 300px;
}
.restaurants-container {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
}
}
@media screen and (max-width: 1160px) {
    .coupons_menu li a {
        font-size: 13px;
    }
}